[2017-11-21 12:29] olehs opened #1 "Feature Request: Bed preheat"
Please add a heated bed preheat (commands M140, M190)

[2017-11-21 12:33] olehs opened #2 "index() raises an exception if no pattern (";") was found."
https://github.com/marian42/octoprint-preheat/blob/1eaac5bba96a4236979ad60e03fbef3918ead741/octoprint_preheat/__init__.py#L48

Please, use [find()](https://docs.python.org/2/library/string.html) instead

[2017-11-21 15:33] #2 closed, assigned to nobody

[2017-11-21 15:56] olehs commented on #2
Thanks. But now it also cannot parse commands like
M104 S230 T0

This is from Simplify3D. Should I open a new issue?

[2017-11-21 15:58] marian42 commented on #2
I'll look into that. You don't need to open an issue.

[2017-11-21 17:11] olehs commented on #1
Thanks again. And one more thing...
What about bed cooldown ?

[2017-11-22 04:33] devsfan1830 opened #3 "Minor UI bug with TouchUI"
Great work. Just wanted to advise you of what may be a minor UI incompatibility with TouchUI.

Image here: https://imgur.com/a/rr4W9

The issue would that long light rectangle running across the buttons and the button text misalignment. Seems to be a side effect of however TouchUI reskins the web GUI.

[2017-11-22 18:49] reggaemanu opened #4 "Doesn't work"
Hi,

I really like the idea of this plugin as I always preheat manually before starting a print but I can't make it works, I've tried with many gcode files (from S3d and Cura) and it always throw me a "Could not find a preheat command in the gcode file." even if there is M104 lines in the gcode files.
What can be wrong?

(I'm using latest octoprint 1.3.5)

[2017-11-22 23:58] marian42 commented on #4
Sorry to hear that. When the plugin first released, there was no update hook, so if you installed on the first day, please remove the plugin and install it again. Once you do that, it should update automatically.

If that doesn't solve it, please send me a gcode file that doesn't work and I'll have a look.

[2017-11-25 21:35] cyberreefguru opened #5 "Error when file is on SD card"
I just installed the plug in but when i select preheat using a file on the SD card, I get an internal error on the UI.  The logs say:

2017-11-25 21:28:49,825 - octoprint - ERROR - Exception on /api/plugin/preheat [POST]
Traceback (most recent call last):
  File "/home/pi/oprint/local/lib/python2.7/site-packages/Flask-0.10.1-py2.7.egg/flask/app.py", line 1817, in wsgi_app
    response = self.full_

[2017-11-26 18:44] mark-hahn commented on #1
I haven't tried this yet so I don't know how it works, but I personally would like the bed to just always preheat/cool when the nozzle does.

[2017-11-26 18:47] marian42 commented on #1
I agree. It works like that for preheating. I'm about to implement bed cooldown, currently it only cools tool0.

[2017-11-26 18:51] olehs commented on #1
@mark-hahn Well, I know what you mean. Sometimes I also need to cool down only nozzle. But there still is separate button for this on OctoPrint's Temperature tab.
I think it would be great if there was a button with combobox instead of Preheat/Cooldown button in this plugin

[2017-11-26 18:54] mark-hahn commented on #1
You mentioned tool0.  If my file uses only tool1 will everything work right?

On Sun, Nov 26, 2017 at 10:47 AM, Marian Kleineberg <
notifications@github.com> wrote:

[2017-11-26 19:34] marian42 commented on #1
@mark-hahn Preheating should work in that case. I haven't tested that though, since I have only one nozzle. Cooldown would not work in that case, but I'm working on a fix.

[2017-11-26 22:19] baardove opened #6 "Octoprint stopped reading tool temperature"
After installing the plugin the octopi stopped reading correct tool temperature. After print the tool temperature would stay at 200+ even after it cooled down.  Temperature was reported correctly in terminal window. Removing plugin corrected the issue.

[2017-11-27 02:43] baardove commented on #6
The problem came back again, so might be other plugin causing the issue...

[2017-11-27 02:43] #6 closed, assigned to nobody

[2017-11-27 16:50] reggaemanu commented on #4
I've indeed installed it the first day !
I can't mess with it right because I've an ongoing print but I'll test that as soon as it finish and let you know if that works, thanks ;)

[2017-11-27 17:43] #3 closed, assigned to nobody

[2017-11-27 18:36] #1 closed, assigned to nobody

[2017-11-27 23:43] marian42 commented on #5
I just looked into that. Apparently it is not possible to read files from the SD card. I will add a feature to heat to a predefined temperature in that case.

[2017-11-28 00:12] reggaemanu commented on #4
It worked on the printer I have at home (I had the same issue on this one the one at my workshop), can't tell for the one at my workshop as there's still 16h until print end but that should be ok :)
Thanks for your response and a big thanks for this plugin !

PS: not related to this ticket but the cool down button doesn't stop the heatbed

[2017-11-28 00:12] #4 closed, assigned to nobody

[2017-11-28 09:08] marian42 commented on #4
I did fix that yesterday, it will be in the next release 👍

[2017-11-29 19:40] TylonHH opened #7 "Request: disable nozzle preheat"
Hi,
I'd like to choose bymyself weather I want to preheat both (nozzle and bed) oder just one of them.
In my case I just wanna preheat my bed.
Cheers

[2017-11-30 21:24] n8name opened #8 "Messed up state wrapper"
Plugin messes up div state_wrapper. OctoPrint Version 1.3.5
<img width="316" alt="display error" src="https://user-images.githubusercontent.com/3366874/33455442-6598155c-d61c-11e7-8959-93dabbfc3aab.png">

[2017-11-30 22:33] marian42 commented on #8
Are you using TouchUI?

[2017-11-30 22:34] n8name commented on #8
Yes, I do. Is there a known conflict between these two plugins?

[2017-11-30 22:41] marian42 commented on #8
No, this is my attempt to make my plugin compatible with TouchUI. Are you using a theme? When I installed TouchUI I got a dark flat design. I added some css rules to work with that design and these rules mess up the view in your screenshot.

[2017-12-01 06:46] Stady234 opened #9 ""No preheat command in file" on every print from Cura"
Every time i send new job to octoprint from cura 3.0.4, the plugin button when clicked states that there is no preheat command found.

[2017-12-01 07:50] NeoTrace82 commented on #9
I do have the same issue and wanted to create an issue, ill upload a gcode file from a current CURA 3.0.4 Installation in a second

[2017-12-01 07:51] NeoTrace82 commented on #9
[AA_DMG_v1.1.zip](https://github.com/marian42/octoprint-preheat/files/1520783/AA_DMG_v1.1.zip)

[2017-12-01 11:34] n8name commented on #8
Both OctoPrint and TouchUI themes are the default ones. Can you provide a workaround?
Honestly I have not used TouchUI that often simply because I use the Telegram Plugin.

[2017-12-01 12:50] marian42 commented on #8
I would like to know how to reproduce your problem so I can fix it. When I installed TouchUI, it looked like the screenshots [here](http://plugins.octoprint.org/plugins/touchui/), not like the screenshot you provided. Is it possible you have TouchUI installed but disabled?

Uninstalling TouchUI would be a workaround.

[2017-12-01 12:52] marian42 commented on #8
Nevermind, I just realized you can have TouchUI installed but still use the default layout. I'll fix this later today.

[2017-12-02 14:31] marian42 commented on #9
I just tested the file and it works as expected for me. Can you confirm that the error still appears after removing and reinstalling the plugin?

[2017-12-02 15:18] marian42 commented on #7
Should the cooldown button be affected by this setting or should it always cool down both the tool and nozzle?

[2017-12-02 16:04] TylonHH commented on #7
Good questing for discussion.
I think "cool all down" makes the most sense.

[2017-12-02 17:38] #5 closed, assigned to nobody

[2017-12-02 18:33] #7 closed, assigned to nobody

[2017-12-02 19:15] #8 closed, assigned to nobody

[2017-12-03 06:52] Stady234 commented on #9
After re-install, everything is working as it should.  Not sure why it acted like that...

[2017-12-03 08:45] NeoTrace82 commented on #9
Same for me did reinstall, now it works

[2017-12-03 18:29] #9 closed, assigned to nobody

[2017-12-07 09:35] theDrsh opened #11 "Error updating to 0.20"
Hello!

Love the plugin, tried to install latest update and have been getting errors. Tried rebooting and trying again with no luck.

Logs in question:
2017-12-07 09:30:43,358 - octoprint.plugins.softwareupdate - INFO - Starting update of preheat to 0.2.0...
2017-12-07 09:30:43,372 - octoprint.plugins.softwareupdate - ERROR - Update of preheat can not be performed
Traceback (most recent call last)

[2017-12-07 19:20] marian42 commented on #11
While I'm working on a fix, you can try to uninstall and reinstall the plugin, that should get you the latest version.

[2017-12-07 20:01] theDrsh commented on #11
That fixed it, Hopefully those logs were helpful.

[2018-01-01 06:32] Tinchus2009 opened #12 "sequence of heating"
Hi. Nice plug in but hav a comment: if you want to pre heat for abs for example, bed will have to reach something  between 90 degrees, even 100 degrees. To reach that temperature, you will have to wait like at least 5 minutes.
Right now the pre heat plugin starts both the bed and hotend at the sme time: bed will heat to 100 degrees and will take like 5 minutes at least. Hotend will only take1.5 mi

[2018-01-01 19:11] marian42 commented on #12
I currently don't have a heated bed but I'll get one soon. Once I have it set up I'll look into this.

[2018-01-02 00:12] Tinchus2009 commented on #12
well. i guess the change is somehow simple, in the plugin code, just change
the gcode used to heat the heated be by the one used to "heat and wait till
is heated"

El 01/01/2018 16:11, "Marian Kleineberg" <notifications@github.com>
escribió:

[2018-01-02 00:20] marian42 commented on #12
Good idea, I hadn't thought of that. However, without testing, I don't know if running two gcode commands that take multiple minutes to execute will work as expected.

[2018-01-02 03:06] Tinchus2009 commented on #12
should work. im not telling the gcode command because i dont rememvet but
the gcide will heat the bed and firmware will wait till that temp
iscreached to execute the code fot hitend (that is how most slucers work
now)

El 01/01/2018 21:20, "Marian Kleineberg" <notifications@github.com>
escribió:

[2018-01-03 18:00] kantlivelong commented on #12
@marian42 you can use [Virtual Printer](http://docs.octoprint.org/en/maintenance/development/virtual_printer.html) plugin provided by OctoPrint.

[2018-01-22 19:05] kantlivelong opened #13 "Pre-PR Questions"
Hey @marian42,

My recent PR to OctoPrint that adds support for injecting variables into G-Code scripts was accepted and should be in version 1.3.7. I've taken it upon myself to add support tho this plugin but it turned into a re-write.

My re-write allows users to modify the preheat snippet and add it to any other G-Code scripts where they see fit (e.g. beforePrintStarted). The default snippet is

[2018-01-22 19:27] marian42 commented on #13
Hi, thank you for your work!

1. I have no problem discarding my code and merging new code, as long as it retains the current features.

2. I'm not sure, as I don't use SD cards myself. Shouldn't it be possible to just put constant temperatures in the new preheat snippet?

[2018-01-22 19:31] kantlivelong commented on #13
1. Cool :+1:. If you have time give it a shot and let me know what you think. The current code is functional with the exception of SD fallbacks and the preheat/cooldown button placement

2. Yeah I can certainly retain that setting in a similar manner.

3. I know I did a strike-through on this comment but does the bit about replacing the Cancel button with Preheat/Cooldown when not printing/paused

[2018-01-22 19:50] marian42 commented on #13
Replacing the cancel button with the preheat button sounds like a good idea. I liked the large print button but I guess that's not something that should be addressed by this plugin anyway.

[2018-01-25 15:51] kantlivelong commented on #13
@marian42

I'm at the point of implementing temperature fallbacks but cannot think of a way to handle the scenario of having multiple hotends. Since we cannot read the file from SD there is no way of knowing which hotened to heat up. Heating both when only one is needed would result in oozing or other issues. Heating one may result in heating the wrong one (e.g. the job is for tool 2 only).

Is th

[2018-01-25 20:11] marian42 commented on #13
Since I don't have multiple hotends, I don't know what's best. Just implement any solution you like. Once someone with this scenario voices a preference here, we can still change it. IMO it would also be ok to show an error message and let the user change the gcode snippet to replace the variables with constants.

[2018-03-19 22:56] brdrck opened #15 "Preheat button enabled while disconnected"
The preheat button is enabled while the rest of the buttons are disabled when the printer is disconnected:  ![image](https://user-images.githubusercontent.com/852684/37626581-033b5596-2ba7-11e8-8961-1a5c62877f1e.png)

When clicking the button it throws an error:
![image](https://user-images.githubusercontent.com/852684/37626641-3948be26-2ba7-11e8-9093-01c8094901dc.png)

[2018-04-01 16:27] marian42 commented on #15
Fixed in 65d0a31c533131c5716fbddeed38f642fd1860b4

[2018-04-01 16:28] #15 closed, assigned to nobody

[2018-04-07 05:36] allenrowand commented on #12
Came here looking for the same thing; I'd like to heat the bed first, so that the hotend doesn't drool filament while the bed heats.

The heating gcode Cura writes in my files is:
M190 S60
M104 S205
M109 S205

But the hotend still heats first. This is on a Monoprice Select Mini v2.

[2018-04-09 14:23] kantlivelong commented on #12
Hi @allenrowand,

I will be submitting a PR in the near future that allows you to script out the preheat process.

[2018-06-06 17:03] alexisju opened #16 "Feature request : notification"
It could be a nice improvement of this (great) plugin to add a notification (visual /   sound) when the printer and the bed achieve the good temp.

[2018-07-27 02:22] Tinchus2009 commented on #12
Any update about this?

[2018-07-27 02:24] kantlivelong commented on #12
Hey @Tinchus2009,

I've got something that works but needs a few things fixed. I recently moved and haven't gotten to setting up my dev environment (or my printers for the matter) yet. Might be a month or two out but what I've got so far works pretty well so far.

[2018-09-16 17:54] adrianmihalko commented on #16
Another feature request: preheat bed too.

[2018-09-16 18:00] marian42 commented on #16
@adrianmihalko Bed preheating is already implemented.

[2018-09-16 18:02] adrianmihalko commented on #16
Super, I wanted to ask, because I haven't see any reference to it. I am in the center of a print, but I will install this plugin asap.

[2018-12-17 16:59] ulmeck opened #17 "Preheat does not take in to account temperature offset."
It would be super nice if the preheat button would take into account the temp offset. I use it pretty extensively, and have to manually adjust the temps.

[2018-12-19 19:24] gdombiak opened #18 "New API to select file and read temps"
I'm the developer of [OctoPod](https://github.com/gdombiak/OctoPod) and got a [request](https://github.com/gdombiak/OctoPod/issues/157) to add support for your cool plugin. I was looking at the code and noticed that it would be convenient if there is a new API endpoint that accepts the path to a file so it gets selected and the temperatures are read for that file. If there is an error doing this,

[2019-01-01 22:28] autonumous opened #19 "doesn’t seem to support multiple heads"
only seems to preheat hot end 0, when the print only uses hot end 1

[2019-01-05 21:31] danowar opened #20 "Terminal Command for Preheat"
Would it be possible to add a terminal command that mimics pushing the preheat button?

This would make it easy to integrate the preheat functionality into other interfaces, such as Printoid.

[2019-01-25 19:53] stonefox1958 opened #21 "Preheat"
I have install "Preheat" but then I opload a file, the button is Disable ?
How is the workflow tog activate the button ?

![octoprint preheat](https://user-images.githubusercontent.com/8201781/51769408-39267f00-20e3-11e9-983d-8c6542cda01a.jpg)

[2019-01-25 19:56] marian42 commented on #21
I think this is a problem with your theme. If you disable your theme, it should work.

[2019-01-28 16:20] Stady234 commented on #20
Just wondering but are you talking about the commands sent as soon as you hit the button?  cause this is what mine sent..

Send: M140 S50.0
Recv: ok
Send: M104 S215.0
Recv: ok

[2019-01-28 16:26] Stady234 commented on #19
If firmware is Marlin... the command that is sent is M104 (http://marlinfw.org/docs/gcode/M104.html)

it looks like it just needs slight mod to say =
                         Set target temperature for E1
                         M104 T1 S205
                         M104 T0 S205

------------------
But this is also based on a split dual head... my cyclops uses on heater and one nozzle with the y

[2019-02-03 20:12] marian42 commented on #20
@danowar You can trigger the preheat command from the command line like this:

    octoprint client --httpuser ***** --httppass ***** post_json /api/plugin/preheat "{\"command\":\"preheat\"}"

[Printoid lets you make custom HTTP requests](https://printoid.net/2017/08/01/trick-20-send-your-own-http-commands-with-printoid-curl-like/). You need to make a POST request to `/api/plugin/preheat` with `{"

[2019-02-03 20:16] marian42 commented on #18
Why would you want to read temperatures from a file other than to trigger the preheat command? I don't quite understand what the advantage is compared to triggering the preheat command right away.

[2019-02-03 20:44] #13 closed, assigned to nobody

[2019-02-03 21:57] marian42 commented on #16
Sorry, the notification feature will not be added.

[2019-02-03 22:00] marian42 commented on #19
@autonumous Preheating multiple hotends should be supported. Can you post a gcode file where it doesn't work?

[2019-02-03 22:01] #21 closed, assigned to nobody

[2019-02-03 23:05] marian42 commented on #12
I know it's been more than a year, but I just added the feature.

[2019-02-03 23:05] #12 closed, assigned to nobody

[2019-02-03 23:06] marian42 commented on #17
This feature is part of the latest release.

[2019-02-03 23:06] #17 closed, assigned to nobody

[2019-02-03 23:08] #11 closed, assigned to nobody

[2019-02-04 09:43] alexisju commented on #16
Thank you.

[2019-02-05 02:06] autonumous commented on #19
@marian42  Taking a cursory look at the code, i agree.

Anyway I’ve updated  to v0.3 and tried the preheat, it functioned as expected.

I’ll try to locate the original g-code file and test again.

Maybe i just had too much new year ‘Fizz’ ...

[2019-02-09 01:34] danowar commented on #20
@Stady234 I realize that is the the commands that are sent, however, those commands would change with each print of different material.

@marian42 Thank you for the tip, that approach does indeed work.  I can now enjoy one-button preheating in Printoid.

[2019-02-09 01:34] #20 closed, assigned to nobody

[2019-02-17 14:09] pfjason opened #22 "Fallback Temperature not used for SD Card gcode files"
Since 0.3.0 update the fallback temp is not used when gcode is located on sdcard instead of octoprint.

![image](https://user-images.githubusercontent.com/16055757/52914198-92717080-3293-11e9-81ad-ed15576ee356.png)

[2019-02-17 18:39] #22 closed, assigned to nobody

[2019-02-17 18:42] marian42 commented on #22
Thank you! I just published a fix.

[2019-03-05 04:07] codejedi365 opened #23 "[BUG or Feature Request?] Preheat quits before reaches bed temperature"
@marian42 First off I love your plugin! It saves so much time!

I just switched over from PLA to PETG printing and I ran into an issue where the Preheat "times out" before reaching the desired temperature.  I'm running my 310x310mm bed up to 85C for PETG and given I'm only running a 12V bed it takes some time to reach the operating temperature.  My bed makes it all the way to about 75C before Preh

[2019-03-05 12:03] marian42 commented on #23
Are you using the sequenced preheat feature (it is disabled by default)?

This plugin has no timeout, I'm not sure if Octoprint has a timeout. What does "times out" mean? Does it go back to 0°?

[2019-03-06 00:57] codejedi365 commented on #23
@marian42 yes I am using the sequenced preheat feature... because its awesome LOL.  I'll try it here shortly without the sequenced feature to isolate the issue especially since it doesn't have a timeout built in.

I do not believe Octoprint has a time out either.  It means the target bed temperature goes from "85C" to "off" at a seemingly a specific timeframe after heat initializes. Based on the t

[2019-03-06 03:22] codejedi365 commented on #23
@marian42 -- so it is exactly the 10 minute mark.  I timed it on my phone twice.  First time I recreated the original problem again just with a timer running.  The second iteration I swapped off the sequencing feature and oddly the same timeout issue happened again at exactly 10 minutes.  I have included 2 snapshots to show how close it was to the desired temperature.

To help rule other errors ou

[2019-03-06 19:29] marian42 commented on #23
What happens if you set the temperature manually in the Temperature tab? Does it turn off after ten minutes? I suspect that this is a "feature" of the printer firmware to prevent fires when you forget to turn off the printer.

[2019-03-08 04:50] codejedi365 commented on #23
@marian42 good catch.  It does turn off after 10 minutes when I use the temperature tab.  I don't understand why it will not idle out if it makes it to the target temperature before 10min.  It is a feature built into my firmware.  I use Klipper and come to find out there was an issue to match and answer this error. https://github.com/KevinOConnor/klipper/issues/695

I almost suggested using the M1

[2019-03-08 04:50] #23 closed, assigned to nobody

[2019-05-13 19:53] theamazingfedex commented on #19
I am also experiencing an issue with it not preheating the correct hotend, always defaults to preheating Tool-0. I have included a pastebin with the first chunk of gcode from a file in which this occurs, though it occurs for every file I attempt.
https://pastebin.com/2EsAMCDX

[2019-05-15 12:48] marian42 commented on #19
In line 24 of the gcode file, the temperature is missing:

    M104 S[extruder1_temperature] T1 ; Heat left extruder

From a quick google search, it looks like this is the result of a configuration error in Simplify3D. If I replace `[extruder1_temeperature]` with a number, preheating works as expected. The gcode files has some more placeholders. @theamazingfedex

[2019-05-15 14:16] theamazingfedex commented on #19
Hmm, I haven't seen a setting in s3d to configure the pre-heat temperature. I just figured the plugin was using the same temp as the first layer.

[2019-05-15 14:26] marian42 commented on #19
Yes, this is not preheat-specific. The gcode file you provided is not a valid gcode file. I assume that the lines with the missing numbers are just ignored when printing. In the excerpt you posted there is no `M04` or `M09` command that sets the temperature for tool 1.

[2019-05-15 14:30] theamazingfedex commented on #19
Ah, this isn't an issue with s3d's gcode, as the provided gcode was generated with cura. I've been having issues with getting cura to generate code properly, and at this point am on the verge of giving up on it entirely.

[2019-05-15 14:40] marian42 commented on #19
I'm going to close the issue as the problem seems to be unrelated to the preheat plugin. If there is a problem with the plugin, let me know and I'll reopen.

[2019-05-15 14:40] #19 closed, assigned to nobody

[2019-05-22 22:02] doza62 opened #24 "Add Alert after preheating done"
Well, I use this every single day. I can't believe it is not a default implementation on the builtin functions of octoprint.

Anyhow. I find myself using this whenever I what to print something and i'm too impatient to calibrate and then wait for it to heat up to print. Hence, I use the preheat button so that I can control my printer while it is heating. But in the other hand I could waste about 2

[2019-05-24 12:45] marian42 commented on #24
Thank you! I'll look into this once I find the time.

[2019-05-28 23:12] marian42 commented on #24
Do you want the sound to be played in the browser or on the printer or both?
cc @alexisju

[2019-05-28 23:25] marian42 commented on #24
Is there any case where it would make sense to use the preheat button for that instead of just starting the print directly?

[2019-06-04 02:45] marian42 commented on #24
@R0dri @alexisju I have implemented a feature where it shows a popup and runs customizable gcode upon preheat completion. Please let me know if this is sufficient so I can push the upddate.

[2019-06-21 09:50] marian42 opened #25 "Grey out preheat button if no printer is connected"
The preheat button can be clicked if no printer is connected. It should be greyed out in that case.

[2019-07-02 20:19] marian42 commented on #25
It seems that it currently works as expected.

[2019-07-02 20:19] #25 closed, assigned to nobody

[2019-07-26 11:34] marian42 commented on #16
I just pushed an update that adds this feature.

[2019-07-26 11:34] #16 closed, assigned to nobody

[2019-07-26 11:34] marian42 commented on #24
I just pushed the update, this feature is now live.

[2019-07-26 11:34] #24 closed, assigned to nobody

[2019-07-26 11:35] marian42 commented on #18
Closing this for now, once you provide further details, I'll reopen.

[2019-07-26 11:35] #18 closed, assigned to nobody

[2019-09-26 14:12] doza62 commented on #24
Wow, been of GitHub for too long. Thanks! Much appreciated!!!

[2019-10-13 10:06] seltix5 opened #26 "preheat without file loaded"
hello,

wold it be possible to preheat without loading a file first?

thanks!

[2019-10-13 10:16] marian42 commented on #26
This would be very close to just setting a temperature manually. The point of the plugin is to read the temperatures from the file. But I can add the option to use the fallback temperatures in this case, instead of disabling the button.

[2019-10-13 10:27] seltix5 opened #27 "send gcode before preheating"
hello,

because I use PSU control the printer will not automaticly start alone.
sending a gcode like "M104" or other iteration wold be great :D

[2019-10-13 10:35] seltix5 commented on #26
ohhh i did not know that part! my usage was just to preheat the printer to a base temperature (maybe chosen in the settings) for when I wold send the print file the printer wold just adjust to the print temperature (if not the same).

for example my procedure :
i want to print something but I dont have anything ready. with this option I could just start preheating the printer before or during the

[2019-10-13 10:42] seltix5 commented on #26
PS : I also wold like to use this for filament change (since you already have a option to popup and beep after preheating) it wold be perfect

[2019-11-02 02:22] tablatronix opened #28 "Greyed out, doesnt work."
I don't get it.. Its greyed out, doesn't seem to work.

![Screen Shot 2019-11-01 at 9 19 06 PM](https://user-images.githubusercontent.com/807787/68064762-a22fc880-fced-11e9-90c8-022a1de817d3.png)

[2019-11-02 02:45] marian42 commented on #28
You need to select a file first.

[2019-11-02 04:46] tablatronix commented on #28
ok, so what is the point of preheat if you have already have a file to print ?

I don't get it.. haha

[2019-11-02 15:34] marian42 commented on #28
I found that I often select a file and manually set the temperature to the printing temperature of the file. While it heats, I do other things like change the filament. When I'm ready and the printer is heated up, I start the print.

This plugin automates that. It reads the printing temperature from the file. That's why you need to select a file, it will set the printer to the temperature that the

[2019-11-02 16:17] tablatronix commented on #28
I see, its "Job preheat" , But i saw the defaults in the settings so assumed it could be used as a generic preheat also. i usually preheat when I am still working in fusion or iterating stuff, or slicing in cura, so I do not have a file to print yet.

I guess I will use the custom commands plugin instead and use gcode.

I preheat to bed level also, to heat both tools at once etc.

[2019-11-02 16:23] tablatronix commented on #28
So is this just a limitation you put in?

can I just mod this?

[code]

[2019-11-02 22:25] marian42 commented on #28
I guess this could be added, it was also requested in #26.

[2019-11-02 23:19] tablatronix commented on #26
Ditto

[2019-11-03 02:14] marian42 commented on #26
I implemented the feature. To use it, you need to enable it in the settings. Let me know if you have any issues.

[2019-11-03 02:14] #26 closed, assigned to nobody

[2019-11-03 02:15] marian42 commented on #28
It is now possible to preheat without selecting a file.

[2019-11-03 02:16] marian42 commented on #27
Currently, it already sends a M104 to perform the preheating. I don't quite understand the question.

[2019-11-03 15:21] seltix5 commented on #26
its working great, thanks!

[2019-11-03 15:23] seltix5 commented on #27
hello,
i dont know why but before it did not work :S but now it's working as expected.
sorry for the ticket, maybe something I changed in the settings :O

[2019-11-03 15:23] #27 closed, assigned to nobody

[2019-12-02 04:44] #28 closed, assigned to nobody

[2019-12-06 19:47] Q-Diddy opened #30 "Enhancement request: Trigger automatically when file is selected to print"
Love the plugin and it works great! I am writing to offer an enhancement. In settings it would be nice to have the option to have the plugin automatically run when a file is selected to print. I currently have to wait for the preheat to be done and then hit the print button. If this was done in one shot it would be added convenience.

[2019-12-07 05:04] marian42 commented on #30
I don't completely understand your request. Are you asking for a feature that starts the preheat process when a file is selected or are you asking for a feature that stars the print when preheating is done?

[2019-12-07 06:43] Stady234 commented on #30
@Q-Diddy

That is a bit counter intuitive to the nature of the plugin.  When you select the print file, the factory way is to just click print to start the heating process... it will start the hotend then the bed (in most slicers)...

If you are really not wanting to wait... click preheat plugin after file load... wait 2-5 seconds... then just click print... the heating of both the hotend and bed

[2019-12-07 10:31] Q-Diddy commented on #30
@marian42 , sorry for the confusion. Yes, I was asking for the ability to start printing after the preheat has completed. Please see comment below for reasoning behind my ask.

@Stady234, Thank you for the tip. I will try that. The reason for my ask is that I run bed leveling before every print and I would like to have the bed at the temp I am printing for the leveling process. So heat bed, then s

[2019-12-07 11:53] marian42 commented on #30
Am I understanding correctly that just starting the print would first do the bed leveling and then heat, and you want to heat first and then do the bed leveling instead?

[2019-12-08 11:55] Q-Diddy commented on #30
@marian42 thats correct. I want to heat the bed first at the temperature set in the gcode file I am printing and then do bed leveling.

[2019-12-14 21:24] Q-Diddy commented on #30
Closing this request as I realize it's probably not a good idea.

[2019-12-14 21:24] #30 closed, assigned to nobody

[2019-12-14 21:53] marian42 commented on #30
Sorry for not responding earlier. From your description, I understand why this feature would be useful and I was planning to implement it. If you change your mind and want this feature to be added, let me know, I think its usecase would be pretty niche but also not a lot of effort to implement.

[2019-12-31 22:38] brandonscholet opened #31 "Preheat button does not allow gcode scripts"
preheat button ignores M80/M81 power supply scripts.

Would love for the plugin to allow start and stop gcode scripts

[2020-01-01 09:03] marian42 commented on #31
What do you mean with "ignores"? What do you expect to happen that doesn't happen?

[2020-01-10 08:56] KriLL3 commented on #31
Ignores is the wrong word, it doesn't support adding g-code on clicking pre-heat, which is a problem if you like me and other guy/gal has our PSUs controlled, if I hit the preheat button atm and forget to also turn on the PSU using something else it doesn't heat up and the printer might error out because it detects that the bed heater is supposedly on but the temps aren't going up. Would be nice t

[2020-01-11 02:44] Stady234 commented on #31
@KriLL3 Why not add the M80 (or any other specific gcode) that you used to turn on the PSU (or other devices like it) to the "Before print job starts" gcode section on Octoprint?

[2020-01-11 02:46] brandonscholet commented on #31
@Stady234 That's the problem. If you press the preheat button then it does not untilize the give scripts section

[2020-01-11 02:52] marian42 commented on #31
Ok, I can add a feature to perform the gcode script when the preheat button is pressed. I'm quite busy right now, so it might take some time, but it's a good feature suggestion.

[2020-01-11 02:52] brandonscholet commented on #31
@marian42 sorry, the plug-in does not ultize gcode scripts for when a print starts or ends, or the ability to add actions. I use M80/M81 to turn my power supply on and off. If there was a way to add a gcode section for preheat/cooldown that would be amazing

[2020-01-19 22:04] ZhenyaKa opened #32 "Add fan settings for preheating"
When preheating with no fan on fan duct heating very strong and deforming.

Pls add option for fan speed settings when preheating is on!

[2020-01-21 20:27] Stady234 commented on #18
I was asked to help give context from a user perspective, as i had asked on the status from the developer of the Octopod;

Basically, from the phone APP or watch APP, it would be nice to allow a file to be "loaded" and show the temps that will be used, and conversely if there was some issue with the gcode... i.e. copied from someone other that the current user, that didnt save the correct temps or

[2020-03-03 17:07] sameSEA opened #33 "Wrong Hotend #0 preheated instead of #1"
Hotend 0 being preheated instead of 1. The starting gcode:

`;FLAVOR:Marlin`
`;TIME:4780`
`;Filament used: 0m, 7.18108m`
`;Layer height: 0.25`
`;MINX:31.2`
`;MINY:90.9`
`;MINZ:0.3`
`;MAXX:151.471`
`;MAXY:195.8`
`;MAXZ:24.3`
`;Generated with Cura_SteamEngine 4.5.0`
`T1`
`M140 S80`
`M105`
`M190 S80`
`M104 S235`
`M105`
`M109 S235`
`M82 ;absolute extrusion mode`
`G21 ;metric values`
`G90 ;absolute pos

[2020-03-04 21:18] #33 closed, assigned to nobody

[2020-03-04 21:39] #31 closed, assigned to nobody

[2020-03-04 21:39] #32 closed, assigned to nobody

[2020-03-04 22:20] marian42 commented on #31
I just added an option to run custom gcode when the Preheat button is pressed before the temeperatures are set. Let me know if this solves the problem or if you need something else.

[2020-03-04 22:22] marian42 commented on #32
I just added an option to run custom gcode when the Preheat button is pressed before the temeperatures are set. You could add a command there to set the fan speed. Let me know if this solves the problem or if you need something else.

[2020-03-04 22:23] marian42 commented on #33
Thank you, I didn't know about the `T1` command, but I just added support for that command and now the example script is handled correctly.

[2020-03-04 23:11] ZhenyaKa commented on #32
Yes it's great solution.
It fine to add the same options when printing end and power on fan while temp go down to 30-40C for example, but I think your good addon can't solve that problem :(

[2020-03-09 02:46] Zinip opened #34 "Preheat Button throwing "Internal Server Error" when trying to use it."
Pretty much what the title says, and it's an error I've never seen before. I hadn't installed any new plugins that it could possibly be conflicting with it, but I did recently install Matplotlib and Numpy to finally get Bedlevelvisualizier to function, updated to the 1.4 stable release of Octoprint, and installed Python3 / Pip3. But according to your page it looks like your plugin should work with

[2020-03-12 00:03] kylix-rd commented on #34
GCode generated for an MMU2S in Single filament mode will contain the "Tx" command. This tells the printer to prompt the user to select which MMU2S filament to use.

The parse_line() function probably should check that the tool value is actually a valid number. IOW, the "Tx" GCode command should be ignored.

[2020-03-12 11:28] Zinip commented on #34
Ahh, I know there's a Tx and Tc in every generated single mode MMU2S gcode file (unless you go back in and edit it so you can actually start a print job via Telegram while outside your homes network with no open ports or ddns configured :p ) but it hadn't occurred to me of the possibility of the preheat button's code picking that MMU2S filament selection prompt up as a potential tool and getting c

[2020-03-12 16:11] kylix-rd commented on #34
I hacked the main `__init__.py` file in the plugin with this patch:
[code]

[2020-03-13 11:08] Zinip commented on #34
Yeah you did! Tyssssm! I made the changes you listed and now the preheat button is working flawlessly again. Were you having the same problem with a MMU2S and figured out how to fix the code, or did you just figure it out for my/other MMU2S users sake?

[2020-03-13 23:34] #34 closed, assigned to nobody

[2020-03-14 05:04] kylix-rd commented on #34
Yes, I have an MMU2S and was able to figure this out. Just be warned that if the plugin is updated without this fix (or another, better one), it will break again.

[2020-03-14 05:17] smitty97 commented on #34
patch is failing for me

patching file __init__.py
Hunk #1 FAILED at 70.
Hunk #2 FAILED at 91.
patch: **** malformed patch at line 34:

[2020-03-14 05:47] kylix-rd commented on #34
@smitty97  you could try and manually modify the file. The change isn't very large.

[2020-03-14 10:19] marian42 commented on #34
Sorry for not responding to this earlier, I was on vacation...

Thank you to @Zinip and @kylix-rd for reporting the issue and for providing a fix!

I just pushed an update that checks all `T...` commands against Octoprint's valid heater regex and discards the command if that check fails. You don't need to apply the patch anymore, you can just update the plugin through Octoprint.

[2020-03-14 13:49] Zinip commented on #34
@smitty97
@kylix-rd
Thats what I had done. First I compared the changes to the whole init.py here online just so I knew what I was looking at, then SSH'ed in to Octoprint, followed by:
~ cd oprint/lib/python2.7/site-packages/octoprint_preheat
~ cp __init__.py old_init.py  ;; just to have a copy of the old init.py just in case :)
~ sudo nano __init__.py
And from there once in the text editor I foun

[2020-03-27 01:23] MattariOnline opened #35 "Icon issues with plugin (plus easy request)"
Hey, so I just wanted to report that I noticed an issue where with the plugin installed, the icons for the button didn't work. Additionally, if I remember correctly (as I modified it to remove the icons that were breaking), I think it was also messing up the other icons? This was on the latest version of octoprint as of the latest release of the plugin.

Also, I'd like to add a super easy suggesti

[2020-03-30 17:24] ubershy opened #36 "Feature Request: Temperature offset"
Thank you for this plugin. I'm using it since it appeared in Octoprint plugin list. I would like to propose a new feature.

## Temperature offsets

### Description
Allows the user to set negative offsets for bed and nozzle temperatures separately in the plugin's settings.
For example, when nozzle temperature offset is is set to **30** degrees, and gcode initial temperature **250** degrees for nozz

[2020-03-31 09:50] marian42 commented on #35
Can you share a screenshot of the missing icons? Which other plugins are you using?

[2020-05-04 16:20] Chrominator opened #38 "Using Preheat button, target temp display 0°C while offset and actual tool temp are as expected"
OctoPrint: 1.4.0 running on a raspberry pi 3 with Raspbian GNU/Linux 9.11 (stretch)

Minor bug I think, does not impact the printings.
At start, when changing the tool temperature with an offset, it is taken into account in the actual tool temperature in OctoPrint and on the printer, however the Target temperature remains to 0.

Operations :

1- Power up the printer (via OctoPrint menu and an API

[2020-05-04 19:33] kb- commented on #36
A better way to implement this would be to offer an option for simultaneous preheating finish time, by starting the preheating of each element at the right time.
1- Learn the heating curve of the different elements at first use (T vs time); sequential the first time; repeat learning if a new file has higher target temperatures; offer an option to reset learning
2- Calculate the optimal start delay

[2020-05-11 22:07] marian42 commented on #36
Going through these issues I just saw that I never replied to this. Thank you @ubershy for this well written and detailed request. I haven't forgotten about it. I'm currently short on time, but I'll implement it once I find the time. If someone else wants to work on this, I'll happily accept a pull request.

[2020-06-01 18:53] Andrei-Pozolotin commented on #36
alternative approach would be to expose configurable % temperature multiplier:
[code]

[2020-08-02 17:08] gary325 opened #39 "Only heats Bed."
From log:
2020-08-02 13:01:12,144 - octoprint.plugins.preheat - INFO - Preheating bed to 60.0.
2020-08-02 13:02:53,257 - octoprint.plugins.preheat - INFO - Preheating complete.

The extruder is never "turned" on.

0.5.1

[2020-08-02 21:34] marian42 commented on #39
Did you uncheck tool preheating in the plugin settings? If not, please share an example gcode file.

[2020-08-03 00:37] gary325 commented on #39
Bed and Extruder checked, Enclosure unchecked

![image](https://user-images.githubusercontent.com/60701018/89135886-9d0edc80-d4fe-11ea-9df6-38996b005f7f.png)

Beginning GCODE:

[code]

After hitting the Preheat button (with above GCODE loaded, from terminal:
[code]
Bed got to temp, extruder still at room temp;

Hit the Cool button:
From terminal:
[code]

[2020-08-05 21:41] marian42 commented on #39
I just tested your gcode and it works as expected, heating the bed and tool.
I don't know why it works on my Octoprint, but not on yours. Maybe it's something in the rest of the gcode file or another plugin. But both seem unlikely. What happens if you save the gcode snippet you posted as a gcode file and try the preheat button with that?

[2020-08-06 22:06] Stady234 commented on #39
Maybe I am doing something wrong... but I can not get your posted "preheat" section to appear in ANY gcode files... even after all my addons 'process' the files...  Do you have that section in your slicer?  Are you having it make variables to make the adjustments?  Have you tried removing that section and see if preheat works normal?

What are the rest of your preheat setting look like? i do have

[2020-08-06 22:57] marian42 commented on #39
Looks like there was a misunderstanding. I was suggesting that you simply take the gcode you posted and save it in a text file with a .gcode extension. That way, you'd be testing it the same way I did. That gcode file wouldn't print anything, but it could help with debugging.

[2020-08-06 23:32] Stady234 commented on #39
ok, well.. with that... I copied the selection of gcode... web synced to each of my 5 octopi... each time saving a different temp to make sure my fallback temp was not the supplied values... and in each case, it preheated both hotend and bed to the specified file values...

Not sure if/how that will help the OP, but I am willing to help test anything else...

These are fresh updated to the newest

[2020-08-09 14:09] DamaxusAwe commented on #39
I have the same issue as the OP, RPi 3B+ on 1.4.2.  Printer is an Ender 3 Pro, using the BTT SKR Mini E3 v1.2 mainboard on Marlin 2.0.5.3. When the current print job is finished, I will disable all my plugins and add them back one at a time and see if that is the issue.  Otherwise maybe there is something conflicting in my Marlin build.

[2020-12-12 11:56] towlerg opened #41 "Custom GCode on timeout"
I assume "After Preheating is complete" means nozzle and bed up to temp. Would it be possible to add custom GCode on timeout.

I find that when I've almost finish in CAD, I go to OP and hit preheat. But then as always I underestimate how long it'll take before slicer ready and Preheat times out. I understand that I can change the timeout but if I can find a period that suits all cases.

Thanks in

[2020-12-15 14:16] evannadeau opened #42 "Cannot get wide Print button with Pause, Cancel, Preheat underneath."
I've used this plugin on several different versions of OctoPrint, but I have never gotten the button layout as in your screenshots.  It appears to put them all side by side, and the preheat button gets bumped down to a second row.  I do also use the Themify plugin, and I have tried with it turned off, and also tried adjusting the width of that sidebar to see if I could get the buttons to align bet

[2020-12-17 15:42] Maroon-Cat commented on #36
Let me to bring this plugin to life. I'll write it soon.

[2020-12-19 14:46] evannadeau opened #43 "Receive popup that preheat cancelled, but it is actually continuing."
Hello, I appear to have spotted a bug.  I am on Octoprint 1.5.2, and have several times spotted a popup stating preheat cancelled due to being manually changed, yet it continues. I had (now disabled for testing) the sequential heating enabled, and this message I believe appears right when the nozzle preheat kicks in.  I'll post if I find any more info.

![image](https://user-images.githubuserconte

[2020-12-19 16:20] evannadeau commented on #43
Update: I just started another print, and I received the message immediately.  This is with the sequential heatup disabled, I'll try my next print with it on.  My suspicion is this message comes up when the nozzle heat starts.

[2021-01-03 11:03] marian42 commented on #43
This message should appear if you change the temperature menually while it preheats. I assume you didn't do that. If the message appears immediately, that's a bug. Does it happen all the time or only sometimes? Do you have any options in the plugin that aren't the default? Do you have any other Octoprint plugins installed?

[2021-01-03 11:05] marian42 commented on #42
My plugin does change the button layout. The way it works is a bit hacky, I would be surprised if it works with other theming plugins. But I've added support for one other theming plugin, so I can take a look at Themify. However, with no theming plugins installed, it should make the Print button wider like you say. Do you have any other plugins installed? Can you send a screenshot of the broken la

[2021-01-03 11:10] marian42 commented on #41
I don't know how the timeout feature works in Octoprint, but it's not a part of this plugin, so I think this plugin isn't the right place to change that.

Maybe a plugin like this does what you want: https://plugins.octoprint.org/plugins/heatertimeout/

[2021-01-04 08:48] towlerg commented on #41
Sorry, I have confused your plugin with BettererHeaterTimeout. Damn, too many preheat plugins. Do I close this or do you?

[2021-01-29 14:02] Zekeman2299 opened #44 "Lose Progress Bar on Install"
I have seen another similar problem with the icons changing but these are as supposed to be, but the issue is the progress bar is now overlapped with the icons after installing the plugin. Any suggestions?  Attached is the display to show what it is doing. (On an Ender 3 pro if that helps)

![plugin](https://user-images.githubusercontent.com/4969051/106284001-9e506600-6210-11eb-8382-a3d881d172b3.j

[2021-02-02 01:21] DropTarget commented on #39
I have the same issue.  Was this ever resolved?

[2021-02-02 01:42] DropTarget commented on #39
Found my problem. Hex editor revealed garbage characters in M104 line added by Cura. Re-edited Cura machine settings and extra characters were eliminated. Works great now.

[2021-02-03 18:11] feuerwasser85 opened #45 "Python 3 incompatibility"
Hi, love your Plugin. Could you make it python 3 compatible? THX!

[2021-02-12 10:15] Maroon-Cat commented on #36
It was the first time ever I tried to use GitHub, thus I had plenty of tryings.

[2021-02-15 21:08] marian42 commented on #45
I added support for Python 3 in 62627b852b8773e8c9be577cca39fd2fbd6ff92c, it should work. Do you have any problems running this Plugin with Python 3?

[2021-02-15 21:10] #35 closed, assigned to nobody

[2021-02-15 22:32] #44 closed, assigned to nobody

[2021-02-15 22:32] #43 closed, assigned to nobody

[2021-02-15 22:33] #42 closed, assigned to nobody

[2021-02-15 22:33] #41 closed, assigned to nobody

[2021-02-15 22:33] #39 closed, assigned to nobody

[2021-02-15 23:43] marian42 commented on #38
I can reproduce this issue, however, it's a problem with Octoprint. I get the same bug with no plugin installed if I select an offset (Target changes from "off" to "0"), go to another tab and change the target temperature. The "0" will stay and not show the correct value.

[2021-02-15 23:43] #38 closed, assigned to nobody

[2021-02-18 02:24] eltonooi opened #48 "Preheat button grey out"
![image](https://user-images.githubusercontent.com/71483123/108295867-703cc100-71d3-11eb-9513-7619582ef7e9.png)

[2021-02-18 02:26] eltonooi commented on #48
![image](https://user-images.githubusercontent.com/71483123/108295922-8ea2bc80-71d3-11eb-8f00-0ac65884363c.png)
when manually set the temperature high, the cool button is working. this is ender 3 v2 with smith3D BLtouch firmware (E3V2-2.0. x-16-3)

[2021-02-18 15:55] cp2004 commented on #45
Works for me just fine on Python 3, been using this for years (not on Py3, but you get the idea)

[2021-02-18 15:56] cp2004 commented on #48
You have to select a file for it to know what to preheat to.

[2021-02-19 04:35] eltonooi commented on #48
Got it, Thank you so much !

[2021-02-19 04:35] #48 closed, assigned to nobody

[2021-02-20 20:04] #45 closed, assigned to nobody

[2021-03-07 18:16] lightmaster opened #49 "[FR] Option to use M190 and M109"
I'd like an option to use M190/M109 instead of M140/M104 so that the Preheat button will activate PRINTER_EVENT_LEDS in Marlin.

[2021-03-16 20:16] marian42 commented on #36
Implemented in 9c7644284a760c8db81f699aed4257eff25e3f27

[2021-03-16 20:16] #36 closed, assigned to nobody

[2021-03-16 20:18] marian42 commented on #49
Can you achieve the desired result if you add a M150 command in the "Before preheat" gcode area in the Preheat plugin configuration?

[2021-03-16 23:29] PowerWiesel commented on #36
Thank you very much for this new feature. I love it :smile:

[2021-03-17 12:24] ubershy commented on #36
Thank you kindly, @Maroon-Cat  ♥

[2021-03-17 13:37] lightmaster commented on #49
Not really, since the PRINTER_EVENT_LEDS uses a changing gradient of colors as its shifts from blue to purple to red basically like a colored progress bar and it can also be set to sequentially change each pixel one by one as the temp increases.

I was thinking that a simple checkbox in the settings to switch between using M140/M104 as default, or use M190/M109 if you want it to activate PRINTER_E

[2021-03-19 21:08] marian42 commented on #49
I just pushed an update that adds this feature. Please let me know how it works.

[2021-03-19 21:36] lightmaster commented on #49
It'll be Monday before I'm home again, but I'll let you know when I can.

[2021-03-20 21:47] DarkSnart opened #50 "Latest update prohibits bed and hotend to preheat simultaniously. Can this be toggled?"
EDIT: Seems to only happen on one profile after using Cura. I believe the issue lies here on my end. The attached flag pops up on my screen but I've done nothing to provoke it.

EDIT- Dumb-ass attack here. Please disregard this issue. Have a day!

[Preheat Plugin](https://user-images.githubusercontent.com/61562407/111886927-f6515080-89a7-11eb-97aa-e037f97078e4.JPG)

[2021-03-20 22:17] #50 closed, assigned to nobody

[2021-03-24 20:51] lightmaster commented on #49
Heating up works good.

When using this option, in order to allow cooldown, the cooldown button needs to send the `M108` command and then send the cooldown commands.

[2021-03-25 20:41] #49 closed, assigned to nobody

[2021-03-25 20:43] marian42 commented on #49
I added the M108 command for the cooldown button. It seems to work fine on the virtual printer, but I can't test it with the real printer. Please report back if it works as expected

[2021-03-25 21:26] lightmaster commented on #49
It works great to cancel the preheat. LEDs do not reset to default though, so gonna open a new Feature Request to be able to set custom GCode to run after the cooldown code.

[2021-03-25 21:30] lightmaster opened #51 "[FR] Custom GCode after Cooldown"
You can customize GCode that runs before Preheat starts and after Preheat is complete, but how about after a Preheat is cancelled by pressing the Cooldown button. This GCode would run directly after the `M104` and `M140` commands that set temp to `0C`. While others may find a different use for it, I would be using it to revert the LEDs back to white after a preheat is cancelled, since they will re

[2021-04-12 01:29] nickpburns opened #52 "“Cool” button shows snowflake icon, but still says “Preheat”"
When the extruder and/or bed are already hot the button shows a snowflake indicating the option to turn the heaters off, but it’s still labeled “Preheat”

![2D550737-1EDE-4840-819C-213C4AB9B050](https://user-images.githubusercontent.com/47843031/114329296-93655c00-9b04-11eb-8200-25f6126c2c12.jpeg)

[2021-04-13 21:33] marian42 commented on #52
On the screenshot it looks like you're using a dark theme. Can you disable the dark theme and confirm that the bug still occurs using the default theme?

[2021-04-14 19:29] LazeMSS commented on #52
@marian42 I think its related to my plugin UI Customizer theme:
https://github.com/LazeMSS/OctoPrint-UICustomizer/issues/136

To make the buttons more responsive i add a wrapper around all button labels/text that hides the text and only show the icons on small screens.

This causes you text node to break:
https://github.com/marian42/octoprint-preheat/blob/93bc1991aa6273531b17e126c4100a3bb112323d/o

[2021-05-17 01:01] Deses opened #55 "Preheat using wildly high temperatures for the heated tool"
![image](https://user-images.githubusercontent.com/1654959/118419128-726fc800-b6bb-11eb-98ad-7b2920dfd7d4.png)

I want to report an issue that I've seen every so often that could be potentially dangerous. At the very least it could cause damaged bowden tubes or clogs or in a worst case scenario it could start a fire.

Sometimes the plugin sets the target temp to 395ºC and shortly after to 260ºC an

[2021-05-17 01:06] Deses commented on #55
**Versions used:**
OctoPrint 1.6.1
Python 3.7.3
OctoPi 0.17.0

Preheat Button (0.7.2)

**Printer:**
Ender 3 with stock hotend.

[2021-05-19 20:54] tocguy opened #56 "Synchronize heat-up"
Since I've adopted a glass bed its heat-up time takes longer than before; upwards of 5 minutes now to reach 90°C. The nozzle, on the other hand, can reach 240°C in just 2 minutes. PID calibrations have been performed on both so my question is this, can this data be used to synchronize the two heating elements such that the nozzle isn't sitting their oozing for an extended period whilst waiting for

[2021-05-31 21:40] marian42 commented on #52
Fixed in 6142458c44c95bd6bcbca988330e294115215cb9

[2021-05-31 21:40] #52 closed, assigned to nobody

[2021-05-31 22:47] marian42 commented on #56
There is the Sequenced preheat feature where it will wait until the bed is done before starting to heat the nozzle.

But I understand you're asking for a feature where it learns the duration of the bed and nozzle heating and guesses a start time difference so that they are ready at the same time.

I think this is certainly possible, but I'm afraid it is out of scope for this project.

[2021-05-31 22:47] #56 closed, assigned to nobody

[2021-05-31 22:51] marian42 commented on #55
This does look concerning! If it does work sometimes and doesn't work sometimes it's really difficult to diagnose. Did it happen again since you posted this report? Does it happen with all files or only with certain files?

[2021-05-31 22:58] Deses commented on #55
I haven't been printing much lately, I'm waiting for parts and I have the printer half disassembled, but tomorrow I'll run some tests if I can find a pattern. As a fellow programmer I understand how frustrating intermittent errors are.

I really want to help you identify the issue, if there's really one!

Does this plugin outputs any log? I can't check myself right now.

[2021-06-01 20:58] Deses commented on #55
I received the parts today, I've rebuild the machine and so far I haven't seen any issues so far. I've updated the plugin to version 0.8.0, too.

I also saw that the octoprint.log show the preheat logs... Unfortunately I no longer have the logs from 16 days ago. :(

I'll let you know when I see this behavior again! I'll try to record it then.

[2021-06-11 08:09] codefaux opened #57 "[Feature Request] Preselect Tool or Tool Number placeholder for user-script GCode"
Hi there! Fantastic plugin, I love it and use it for literally every single print session. I'll just outline the request, then justify it.

Can we get either a "preselect tool before firing **Before Preheating** GCode" option, or a placeholder variable to replace with the preheat target tool number?

Recently (I've been HEAVILY modding a printer) I added a second extruder and turned it into an IDE

[2021-07-07 08:07] JustJoostNL commented on #55
I have the same problem, I'm also on version 0.8.0 and it keeps happening.

[2021-07-07 16:57] Deses commented on #55
I'm "glad" you also had this issue, since that indicates that's not only a thing that happens to me alone.

I haven't printed in more than a month so that's why I haven't posted any follow up to this issue, but I hope I can provide feedback when I get back into printing.

[2021-08-07 00:07] Deses commented on #55
![2021-08-07 02_02_58-Ender3  OctoPrint](https://user-images.githubusercontent.com/1654959/128581181-58aa995a-8b97-4530-b31c-0f0cd8d2cc42.png)
It's doing it again!

[code]

Looks like that when it cannot parse a heat command it goes crazy. 395 ºC holy sheet.

This is the gcode I'm trying to print:

[04_USB_enclosure_lid.aw.gcode.zip](https://github.com/marian42/octoprint-preheat/files/6948320/04_U

[2021-12-17 02:13] tablatronix opened #58 "Is this a known issue ?"
[code]

[2021-12-17 02:33] codefaux commented on #57
Further input -- STILL being driven absolutely mad by not being able to control which tool preheat gcode runs on, which tool(s) preheat with no file loaded in Octoprint, etc.

Every time I boot my printer, I have to make sure NOT to click Preheat until after I've loaded a file, or it preheats BOTH hotends against my desires. Maybe I'll just ditch the plugin, all it seems to do anymore is piss me o

[2021-12-29 17:01] kyngs opened #59 "Doesn't work with TouchUI"
Even though it is shown working in README, it doesn't work. The button does not appear. Someone already posted this issue in TouchUI's repo, but the dev said it needs to be fixed here. [issue](https://github.com/BillyBlaze/OctoPrint-TouchUI/issues/400)
![image](https://user-images.githubusercontent.com/38181667/147686119-d2aac35b-34a5-4c5b-ba2e-333785500200.png)
If you need some logs I will send t

[2022-01-15 15:22] kyngs commented on #59
It looks like this is caused by some other plugin, I did a fresh install only with touchui and preheat and it seems to appear now, I will try to find out which plugin causes this.

[2022-01-15 15:29] kyngs commented on #59
Ok, this was caused by the dashboard plugin. You may close the issue or attempt to find the cause. I will leave it open.

[2022-10-10 19:34] JDCodes commented on #59
had the same issue with the dashboard plugin at my pi display. i fixed it with the Tab Order Plugin and moved the dashboard tab behind the temperature, control... and now i have the button back on my display.